<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	  <title>index.html</title>
	  <%= javascript_include_tag :defaults %>
	  <%= yield :head %>
  </head>
  <body>
	<h1>All Transactions</h1>
	
	<ul id="transactions">
	   <% @transactions.each do |transaction| %>
	   <li>
	      <p>
	      <h4>Code=<%=transaction.code %>, Name=<%=transaction.name%>	
	        [<%= link_to "show", transaction_path(transaction)%>,	
			<% if transaction.events.count > 0 %>
	        	<%= link_to "Create a event", transaction_new_event_path(transaction.id) %>,
	         	<%=link_to "Execute", transaction_execute_path(transaction.id) %>]
	         <%else%>
	        	<%= link_to "Create a event", transaction_new_event_path(transaction.id)%>]
			<% end %>	         
	      </h4>
	      </p> 
	   </li>
	   <% transaction.events.each do |event| %>
	   <table>
	      <tr>
	         <td>
	            <h5><p><%= link_to "Event:#{event.name}", edit_event_path(event), class: 'event_code', id: "transaction_#{event.code}"%></p></h5>	
	         </td>
	      </tr>
	   </table>
	   <% end %>
	   <% end %>
	   <%= link_to "Create a New Transaction", new_transaction_path, class: "new_article" %>
	</ul>	  	
  	<%= yield %>
  </body>
</html>
