<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	  <title>show.html</title>
	  <%= javascript_include_tag :defaults %>
	  <%= yield :head %>
  </head>
  <body>
  	
	<h1>Transaction</h1>

	<p><%= link_to "<< Back to transactions List", transactions_path %></p>
	
  	<p><h4>Code=<%=@transaction.code %>, Name=<%=@transaction.name%>, Description=<%="'#{@transaction.description}\'" %>

		[<%= link_to "edit", edit_transaction_path(@transaction) %>,	

		<%= link_to "delete", transaction_path(@transaction), method: :delete, data: {confirm: "Really delete the transaction?"}%>,

		<%= link_to "Create a event", transaction_new_event_path(@transaction.id) %>]	</h4></p>
		
  	<%= link_to "Create a New Transaction", new_transaction_path, class: "new_article" %>
	
			
  <%= yield %>
  </body>
</html>
