<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	  <title>show.html</title>
	  <%= javascript_include_tag :defaults %>
	  <%= yield :head %>
  </head>
  <body>
  	
  	<h1><%= @transaction.code %></h1>
	<p><%=  @transaction.name %></p>
	<p><%=  @transaction.description %></p>

	<p>
		<%= link_to "<< Back to transactions List", transactions_path %>
	</p>
	
	<p>
		<%= link_to "delete", transaction_path(@transaction), method: :delete, data: {confirm: "Really delete the transaction?"}%>
	<p>
		
	<p>
		<%= link_to "edit", edit_transaction_path(@transaction) %>
	</p>	
		
  <%= yield %>
  </body>
</html>
